:root {
  --backgroundColor: #282c35;
  --lightBackgroundColor: #343a48;
  --darkColor: #444444;
  --redColor: #d0021b;
  --yellowColor: #fff3c8;
  --greenColor: #a7ff91;
  --lightBlueColor: #aed1fb;
  --buttonHoverColor: #4898f6;
  --brightBlueColor: #348df5;
  --darkBlueColor: #2463ac;
  --lightActiveColor: #62666f;
  --confirmButtonBackground: #4a5161;
  --confirmButtonHoverBackground: #3b404d;
  --disabledButtonText: #8f8f8f;
  --darkActiveColor: #2d313a;
  --activeColor: #3b404b;

  --levelCircleSize: 24px;
  --iconMargin: 8px;
}

.App {
  color: white;
  font-family: 'Inter', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.App main {
  flex: 1;
  background-color: var(--backgroundColor);
}

.App header .navbar-brand {
  color: white;
  font-weight: 800;
}

.App header .navbar-brand:hover {
  color: white;
}

.App button:focus:enabled {
  outline: none;
}

.App #room-title {
  margin-bottom: 20px;
  text-align: center;
}

.App #buzzer {
  text-align: center;
}

.App #buzzer > button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: var(--brightBlueColor);
  color: white;
  border: none;
  font-weight: 700;
  font-size: 2rem;
}

.App #buzzer > button:hover {
  background-color: var(--buttonHoverColor);
}

.App #buzzer > button:active {
  background-color: var(--darkBlueColor);
}

.App #buzzer > button:disabled {
  background-color: var(--lightBackgroundColor);
}

.App #reset {
  margin: 30px 0;
  text-align: center;
}

.App #reset > button {
  background: none;
  font-weight: 700;
  color: white;
  padding: 8px 10px;
  border-radius: 4px;
}

.App #reset > button:hover {
  background-color: var(--lightBackgroundColor);
}

.App #queue {
  text-align: center;
}

.App #queue ul {
  padding: 0;
  list-style-type: none;
}

.App .bold {
  font-weight: 600;
}
